# --------------------------------------
# mac
# --------------------------------------
.DS_Store

# --------------------------------------
# idea
# --------------------------------------
.idea/

# --------------------------------------
# temporary files
# --------------------------------------
*.tmp
*.temp
*.bak
*.backup
~*
